<!DOCTYPE html>
<html>
<head>
    <title>WSN Viewer</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function load(){
            var container = $("#showData");
            var ip = 'aaaa::21a:4c00:1508:a6b8';
            $.ajax({
                url: '/load/' + ip + '/last',
                type: 'get',
                success: function(data){
                    $(container).html(JSON.stringify(data));
                }
            });
        }
        setInterval(load, 500);
    </script>
</head>
<body>
    <h3>
        <div id="showData"></div>
    </h3>
</body>
</html>